[Unit]
Description=Compound Chain Full Node

[Service]
User=compound
Group=compound
WorkingDirectory={{ compound_user_home }}
ExecStart={{ compound_chain_bin }} \
  --base-path {{ chain_data_dir }} \
  --chain "{{ compound_user_home }}/chainSpec.json" \
  --port 30333 \
  --ws-port 9944 \
  --ws-external \
  --no-mdns  \
  --rpc-port 9933 \
  --rpc-external \
  --node-key-file {{ node_key_priv_file }} \
  {% for peer in peers -%}
  --bootnodes /ip4/{{ peer }}/tcp/30333/p2p/{{ hostvars[peer].ansible_local.substrate.compound_chain.public_key }} \
  {% endfor -%}
  --telemetry-url 'wss://telemetry.polkadot.io/submit/ 0' \
  --ws-max-connections 1000 \
  --rpc-cors=all
