[Unit]
Description=Compound Chain Validator Node

[Service]
User=compound
Group=compound
WorkingDirectory={{ compound_user_home }}
Environment="ETH_RPC_URL=https://ropsten-eth.compound.finance"
Environment="ETH_KEY_ID={{ eth_key_id }}"
Environment="OPF_URL=https://prices.compound.finance/coinbase"
Environment="ETH_KEY={{ eth_private_key | default(omit) }}"
Environment="AWS_REGION={{ aws_region | default(omit) }}"
Environment="KEYRING_TYPE={{ keyring_type | default('IN_MEMORY') }}"
Environment="MINER={{ miner }}"
ExecStart={{ compound_chain_bin }} \
  --base-path {{ chain_data_dir }} \
  --chain "{{ compound_user_home }}/chainSpec.json" \
  --port 30333 \
  --ws-port 9944 \
  --ws-external \
  --rpc-port 9933 \
  --rpc-methods Unsafe \
  --rpc-external \
  --no-mdns \
  --node-key-file {{ node_key_priv_file }} \
  {% for bootnode_multi_addr in peers -%}
  --bootnodes {{ bootnode_multi_addr }} \
  {% endfor -%}
  --validator \
  --log=debug \
  --ws-max-connections 1000 \
  --rpc-cors=all
